<md-content>
	<md-list>
		<md-subheader 
			ng-repeat-start="group in groups"
			class="md-no-sticky">{{::group.title}}</md-subheader>
		<md-list-item 
			ng-repeat="(url, item) in group.items"
			ng-href="./{{::url}}">
			<mb-icon>{{::(item.icon || 'layers')}}</mb-icon>
			<p mb-translate>{{::item.title}}</p>
		</md-list-item>
		<md-divider ng-repeat-end></md-divider>
	</md-list>
</md-content>
